@import "tailwindcss";



@font-face {
    font-family: 'blfont';
    src: url(../src/assets/BLFont.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'blfont', sans-serif;
}

html {
  font-size: 24px;
}

.react-tooltip {
  @apply bg-gray-800 text-white text-sm rounded-lg px-2 py-1 z-50;
}

.grid-cell {
  @apply w-24 h-24 flex items-center justify-center text-center border-4 border-black overflow-hidden;
  font-size: var(--font-size, 26px); /* Shrink font dynamically */
  line-height: 1;
}