@import "tailwindcss";
@tailwind utilities;

@keyframes cardFlip {
  from {
    transform: rotateY(90deg);
    opacity: 1;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  6.25% { transform: translateX(-4); }
  12.5% { transform: translateX(4px); }
  18.75% { transform: translateX(-4px); }
  25% { transform: translateX(4px); }
  31.25% { transform: translateX(-4px); }
  37.5% { transform: translateX(4px); }
  43.75% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  56.25% { transform: translateX(-4px); }
  62.5% { transform: translateX(4px); }
  68.75% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
  81.25% { transform: translateX(-4px); }
  87.5% { transform: translateX(4px); }
  93.75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

@font-face {
    font-family: 'blfont';
    src: url(../src/assets/BLFont.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'blfont', sans-serif;
}

html {
  font-size: 24px;
}

.react-tooltip {
  @apply bg-gray-800 text-white text-sm rounded-lg px-2 py-1 z-50;
}

.grid-cell {
  @apply w-24 h-24 flex items-center justify-center text-center border-4 border-black overflow-hidden;
  font-size: var(--font-size, 26px);
  line-height: 1;
  opacity: 0;
  transform: rotateY(90deg);
  backface-visibility: hidden;
  animation: cardFlip 0.3s ease-in-out forwards;
}

.grid-cell.no-animation {
  transform: rotateY(0deg);
  opacity: 1;
  animation: none;
}

.duplicate-message {
  animation: shake 1s ease-in-out;
}