.env
server/*.json
*.tmp
*.temp
*.bak
node_modules/
npm-debug.log
yarn-error.log
client/dist/
client/build/
client/.vite/
.vite/
client/tailwind.config.js
client/postcss.config.js
*.tsbuildinfo
client/tsconfig.tsbuildinfo
dist/
build/
logs/
*.log
*.log.*